#Question: What percentage of first class passengers survived?

In [ ]:
import pandas

df = pandas.read_csv('titanic.csv')

colums = df.columns.to_list()

print(colums)

pClass = df.Pclass.to_list()
pSurvived = df.Survived.to_list()
pName = df.Name.to_list()

survived = 0
died = 0.0

for i in range(len(pClass)):
    pC = pClass[i]
    pS = pSurvived[i]
    pN = pName[i]

    if pC == 1:
        if pS == 1:
            survived += 1
            print(pN + " survived")
        else:
            died += 1


print(survived/died*100)

In [11]:
import pandas

df = pandas.read_csv('titanic.csv')

numSamples = df.shape[0]
print(numSamples)

print(df.iloc[6])
print("\n\n\nEmbarked From Queensland: ")

print(df[df["Embarked"] == "Q"])

891
PassengerId                          7
Survived                             0
Pclass                               1
Name           McCarthy, Mr. Timothy J
Sex                               male
Age                               54.0
SibSp                                0
Parch                                0
Ticket                           17463
Fare                           51.8625
Cabin                              E46
Embarked                             S
Name: 6, dtype: object



Embarked From Queensland:
     PassengerId  Survived  Pclass                                  Name  \
5              6         0       3                      Moran, Mr. James
16            17         0       3                  Rice, Master. Eugene
22            23         1       3           McGowan, Miss. Anna "Annie"
28            29         1       3         O'Dwyer, Miss. Ellen "Nellie"
32            33         1       3              Glynn, Miss. Mary Agatha
..           ...       ...     ...                                   ...
790          791         0       3              Keane, Mr. Andrew "Andy"
825          826         0       3                       Flynn, Mr. John
828          829         1       3          McCormack, Mr. Thomas Joseph
885          886         0       3  Rice, Mrs. William (Margaret Norton)
890          891         0       3                   Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch  Ticket     Fare Cabin Embarked
5      male   NaN      0      0  330877   8.4583   NaN        Q
16     male   2.0      4      1  382652  29.1250   NaN        Q
22   female  15.0      0      0  330923   8.0292   NaN        Q
28   female   NaN      0      0  330959   7.8792   NaN        Q
32   female   NaN      0      0  335677   7.7500   NaN        Q
..      ...   ...    ...    ...     ...      ...   ...      ...
790    male   NaN      0      0   12460   7.7500   NaN        Q
825    male   NaN      0      0  368323   6.9500   NaN        Q
828    male   NaN      0      0  367228   7.7500   NaN        Q
885  female  39.0      0      5  382652  29.1250   NaN        Q
890    male  32.0      0      0  370376   7.7500   NaN        Q

[77 rows x 12 columns]